<h1>My Tweets, Yeah!</h1>

<% @tweets.each do |tweet| %>

<div>
	<%= link_to "#{tweet.content}", tweet_path(tweet) %>
</div>

<div>
	Posted <%= time_ago_in_words(tweet.created_at) %> days ago.
</div>

<% end %>